@font-face{
    font-family: helvetica;
    src:url("fonts/helvetica.otf");
}
@font-face{
    font-family: Heroic;
    src:url("fonts/heroic.ttf");
}
@font-face{
    font-family: adellesans;
    src:url("fonts/adellesans.ttf");
}
header{

}
body{
    margin: 0px;
    background-color: #000000;
}
.main-header__top-container{
    height : 35px;
}
.main-header__logo-container{
    float: left;
    width: 70%;
    height: 35px;
    position: relative;
}
.main-header__logo{
    position: absolute;
    bottom: 0px;
    left: 15px;

}
.main-header__user-icon-container{
    width: 30%;
    height: 35px;
    float: right;
    position: relative;
}
.main-header__user-icon{
    position: absolute;
    bottom: 0px;
    right: 15px;
}
.main-header__bottom-container{

    margin-top: 10px;
}
.nav-container{
    /*height: 35px;*/
}
.nav-container__items{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    width: 100%;
    display: inline-block;
}
.nav-container__items li{
    float: left;
    width: 25%;
    height: 35px;
    display:block;
    text-align: center;
    line-height: 35px;

}
.nav-container__items li:hover>a
{
    background-color: #1a1a1a;
}

.nav-container__items li a{
    text-decoration: none;
    display: block;
    height: 100%;
    font-size: 1.15em;
    font-family: Heroic;
    letter-spacing: 0.05em;
    color: #ffffff;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
}
.nav-container__items li:nth-child(4) a{
    border-right: none;
}
.nav-container__items li a svg{
    margin-left: 4px;
    fill: #e5127d;
    
}
.tech-items{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.tech-items li{
    display: block;
    clear: both;
    width: 100%;
    height: 42px;
    position: relative;
    background-color: #1a1a1a;

}
.tech-items a {
	height: 100%;
	background: #1a1a1a;
}
.tech-items li:last-child{
	height: 100%;
}
.tech-items li a{
    border-right: 0px;
    text-align: left;
    padding-left: 16px;
    /*background-color: #1a1a1a;*/
    border-bottom: 1px solid #6a6a6a;
    color: #ffffff;
    font-size: 9.6px;
    font-weight: bold;
    line-height: 42px;
    font-family: sans-serif;
    height: 41px;
}
.tech-items li:last-child a{
    color: #e5127d;
}

.nav-container__items-dropup{
    visibility: hidden;
    display: none;

}
.nav-container__items-dropdown{
visibility: visible;
display: inline;
}
.footer-logo{
    text-align: center;
    padding:8px 0px;
}
footer{
    padding-top: 16px;
}
.footer-links{
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-align: center;
    margin-bottom: 8px;
}

.footer-links li a{
    text-decoration: none;
    
    color: #e5127d;
    font-size: 12px;
    font-family: helvetica;
    font-style: normal;
    line-height: 19.2px;
}
.footer-links li{
    display: inline-block;
}
.footer-middle{
    padding: 8px 16px;
}
.footer-links li:after{
    content: "\2022";
    color:#ffffff;
    margin: 0px 8px;
    
}

.footer-links li:last-child:after{
    content: none;
}
.footer-middle p{
    color: #ffffff;
    font-size: 12px;
    line-height: 19.2px;
    font-family: helvetica;
    margin: 0px;
    text-align: center;
}
.footer-middle a
,.footer-bottom a{
    text-decoration: none;
    color: #e5127d;
    font-size: 12px;
    line-height: 19.2px;
    font-family: helvetica;
    margin: 0px;
    text-align: center;
    display: inherit;
}
.vox-media-logo-text{
    fill: #ffffff;
}
.footer-bottom{
    font-size:0.75em;
    padding: 8px 16px;
    text-align: center;
}
.c-footer__vox-logo{
    width: 100%;
    max-width: 150px;
}
.copy-right{
    color: #ffffff;
    display: inline-block;
    font-size: 12px;
    font-family: helvetica;
}
.articles-main-gradient{
	background: linear-gradient(90deg,#f7c626 15%,#f68c2f 40%,#e5127d 85%);
    height: 4px;
    width: 100%;
    margin: 0px;
    display: block;
    position: absolute;
    top: 0px;
}
.articles-main{
    position: relative;
    display: block;
}
.articles-main-img{
    height: 50%;
    display: block;
    width: 100%;
}
.articles-main-text-container{
background: #000000;
position: absolute;
bottom: 0px;
left: 50%;
width: 70%;
text-align: center;
transform:translateX(-50%);
padding: 16px 8px;
}
.articles-main-text{
    font-size: 32px;
    font-family: Heroic;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 0.008em;
}
.articles-main__author{
  
    font-family: sans-serif;
    font-size: 12px;
    color: #ffffff;
}
.articles-main__author span{
    color: #e5127d;
}
.articles-container{
    display: inline-block;
    background-color: #ffffff;
    padding-top: 16px;
}
.article-container{
    background-color: #ffffff;
    border-top:1px solid #e7e7e8;
    display: inline-block;
}
.article-body{
    padding: 8px 0px;
    display: inline-block;
}
.article-img-container{
 
   width: 30%;
   display: inline-block;
   float: left;

}
.article-img{
    margin: 0px;
    padding: 0px;
    width: 100%;
}
.article-head-text{
    font-family: serif;
    font-size: .9em;
    padding: 0px 8px;
    color: #474242;
    font-weight: bold;
    margin-bottom: .3rem;
}
.article-details-container{
    width: 70%;
    display: inline-block;
    float: left;
}
.article-details{
    font-size: 0.75em;
    color: #737373;
    font-weight: normal;
    font-family: sans-serif;
    padding: 0px 8px;
}
.article-author{
    color: #e5127d;
}
.article-author::after,.article-time::after{
border-left: 1px solid #474242;
display: inline-block;
height: 1.1em;
margin: 0 .4em;
vertical-align: middle;
width: 2px;
content: "";
}
.article-comments{
    display: inline-block;
}
.quote-body-container{
    padding: 16px 0px;
    align-items: center;
    display: inline-block;
    width: 100%;
    background: #ffffff;
}
.quote-body-container__left{
text-align: right;
width: 50%;
display: inline-block;
float: left;
}
.quote-body-container__right{
text-align: left;
width: 50%;
display: inline-block;
float: left;

}
.quote-body-container__right div{
    padding: 0px 8px;
font-style: italic;
letter-spacing: 0.02em;
font-size: 2em;
color: #e5127d;
font-family: Heroic;
font-weight: bold;
margin-bottom: 0px;
text-transform: uppercase;
line-height: 1;
}
.quote-body-container__left-text{
    font-size: 0.9em;
    margin-bottom: .3rem;
    line-height: 1.2;
    font-family: sans-serif;
    color: #424247;
    font-weight: bold;
}
.quote-body-container__left-author{
    letter-spacing: 0.07em;
    line-height: 1;
    text-transform: uppercase;
    font-size: 1em;
    font-family: Heroic;
    font-weight: 500;
    color: #6a6a6a;
}
.quote-body-container__left-author span{
  color: #e5127d;  
}

.guidebook-bottom{
   
    margin:0px;
    padding: 0 16px .6rem;

}
.guidebook-bottom-image{
   
    float: left;
    width: 30%;
}
.guidebook-bottom-image img{
width: 100%;
display: block;
}

.guidebook-bottom-content{
    float: left;
    position: absolute;
    left: 30%;
    top: 50%;
    transform: translateY(-50%);
    width: 70%;
    color: #424242;
    font-size: 0.9em;
    font-weight: bold;
    font-family: sans-serif;
}
.guidebook-bottom-content div{
    padding: 0px 16px;

}
.guidebook-bottom__article{
    display: inline-block;
    margin-bottom: 8px;
    background-color: #ffffff;
    width: 100%;
    position: relative;
}
.guidebook-container{
    display: inline-block;
    width: 100%;
    background-color: #000000;
}

.guidebook-top{
    padding: 1.2rem 16px 2rem;
    position: relative;
    
}
.guidebook-top__container{
width: 100%;
display: inline-block;
}

.guidebook-top__left{
    width: 50%;
    display: inline-block;
    float: left;
}
.guidebook-top__right{
    width: 50%;
    letter-spacing: 0.02em;
    font-size: 0.9em;
    text-align: right;
    display: inline-block;
    float: left;
    color:#e5127d
}
.guidebook-top__right div{
    margin-top: 16px;
}
.guidebook-top__right div::after{
    content: "";
    display: inline-block;
    height: 0px;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    border-top: 5px solid transparent;
    margin-left: 5px;
    width: 0px;
}
.guidebook-top__left img{
max-width: 250px;
max-height: 50px;
    }
.guidebook-top__left::after{
    background: #e5127d;
    content: "";
    height: 2px;
    position: absolute;
    right: 39px;
    bottom: 16px;
    left: 16px;
    z-index: 1;
}
.guidebook-top::before{
    background-color: #e5127d;
    content: "";
    height: 2px;
    position: absolute;
    right: 40px;
    bottom: 15px;
    transform: rotate(-120deg);
    transform-origin: top right;
    width: 35px;
    z-index: 1;
}
.more-container{
    height: 51px;
    background-color: #e5127d;
    color: #ffffff;
    text-align: center;
    line-height: 51px;
    font-size: 0.75em;
    letter-spacing: 0.09em;
    font-family: helvetica;
}
.article-container:last-child{
	border-bottom: 1px solid #e7e7e8;
}